// A cover block is a full size cover with a fixed background for smaller screens.
// mixin

.td-hero-block {

  &::before {
    position: absolute;
  }
  
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 80%, /* right bottom */
    0 100% /* left bottom */
  );
  
    &.td-overlay { 
    background:  $flux-blue ;
    }
    & > .byline {
      position: absolute;
      bottom: 2px;
      right: 4px;
  }

}