// Buttons

@if $enable-rounded {
    .btn {
        border-radius: .25rem;

        &-lg {
            border-radius: .3rem; 
                 ;
        }

        &-sm {
            border-radius: .2rem;
            ;
        }

    }
}
