
.features, .resources {
  .col-lg-4 {
    margin: 2rem 0rem !important;
    padding: 0 2rem !important;
  }

  // .h3 {
  //   margin-top: 2rem;
  //   font-weight: 600;
  // }

  // h4 {
  //   font-weight: 600;
  //   margin: 0.85rem 0;
  // }
}

.features {
  .fas, .fab, .fa {
    color: $flux-blue;
  }
}

.section-community {
  section.row.td-box {
    padding-top: 1.5rem;
  }
}